/* header style*/
header {
  background:linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
    padding: 20px 35ps;
  
    margin-top: 0px;
    margin-bottom:0px;
    
    
   

}
body {
    font-family: Helvetica, Arial, sans-seri;
    /*background-color:rgb(47, 118, 248);*/
    background-image: linear-gradient(rgb(255, 255, 255), rgb(3, 60, 165));}
    

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #000000;
    font-family: Helvetica, Arial, sans-serif; }
    

    /* I'm a CSS comment! */

    /* apply styles to <header> */
    header {


padding: 20px 35ps;
background-color: #fdfeff

 }


 /* Applies 20px to every side (top, right, bottom, left) */
 header {
    padding: 20px;
  }
 
  /* Applies 20px to the top and bottom, then 35px to the left and right */
  header {
    padding: 20px 35px;
  }
 
  /* Applies 10px to the top, 15px to the right, 20px to the bottom, 25px to the left (in that specific clockwise order) */
  header {
    padding: 10px 15px 20px 25px;
  }
 
  /* Explicitly list the side it should be applied to*/
  header {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 28px;
    padding-left: 25px;
    background-color:navy;
  }

  header h1 {
    font-weight: bold;
    font-size:40px;
    color: rgb(0, 4, 255);
    margin: 580px;
    display: inline;
  }

  header nav ul li a {
    margin: 0px 30px;
    font-weight: lighter;
    font-size: 22px;
    padding-left:77px;
  }

  * {
    margin:0%;
    padding: 0%;

  }

  header a {
    text-decoration: none;
    color: #430bdd;
    text-align:left ;
  }

  header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }
    header nav ul li a {
      margin: 0 14px;
      font-weight: normal;
      font-size:21px;
      color:rgb(43, 76, 167);
      
      
      
    }
 /* Bordered form  (was 14)*/
form {
  border: 8px solid;
  color:navy
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(33, 44, 143);
  color: rgb(250, 250, 250);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #000000;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
h1 {
  text-align:center;
  font: size 400px;
  color:rgb(224, 146, 1)
  
  
}

footer{
  text-align: center;
  font-size: small;
  
  background:linear-gradient(orange);
  height:0px
}
li {
 
 text-align: center;}

 /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.options li {
  float:right;
  
  }

  
  u{
    color:rgb(0, 0, 0);
   text-decoration: underline ;
   text-decoration-color: navy;
  
  }
  a href{
    color:black
  }

  ul{
    color:rgb(255, 255, 255)
  }
  element.style{
    background-color: navy;
  }
*{
  color:rgb(253, 253, 253)
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Resize images */

.toplogo img {
  width: 200px;
  height: 100px;
  margin: 540px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:600px;
 
  
}
.toplogo2 img  {
  width: 340px;
  height: 145px;
  /*margins were 540*/
  margin: 540px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left:580px;
  margin-right:px ;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float:right ;
  width: 11%;
  padding-left:7px;
  margin:1.5%;
  padding-right: 7px;
 
}

/* Clear floats ater image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



.logistics-log-logics{
  width: 140px;
  height: 10px;
  
}
#demobox {
  
  background-color:rgb(33, 44, 143);
  /*background-color: rgb(47, 118, 248) ;*/
  padding: 10px ;
  border: 1px solid rgb(47, 118, 248);
 
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #e26d00;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #3700ce;
}

/* Add a background color and some padding around the form */
.tz {
  border-radius: 5px;
  background-color:rgb(33, 44, 143) ;
  padding: 20px;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  /* Centered text */}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.customernav {
  padding-right: 450px;
}
.customermi {
  padding-right:200px;
}

.calc{
padding-right:200px;
}
heading{
  background-color: aquamarine;
}

.bodyvid video{
  height:545px;
  width:1046px;
  margin-left:250px;
}

.button{
 background-color:  rgb(33, 44, 143);
}
